# Ignorar tipos de archivo 
#*.md
*.c
*.pyc
*.idea
*.ini
*.txt
*.png
*.jpg
*.jpeg
*.xml
*.iml
*.cursorignore
#*.yaml
#*.sql
*.aiignore
*.pyd
*.so

# Ignorar archivos especificos
perfectocr.txt

# Ignorar carpetas
.__pycache__/
.pytest_cache/
.cache/
.pyc/
.vscode/
.idea/
.cursor/
.github/
.github/chatmodes/
.aiassistant/
build/
conectors/excel_conector/
#documentation/
#test/
#tools/
C:/PerfectOCR/data/models/
models/paddle/
models/
input/
input2/
input3/
output/
migrations/
memory_managment/
conectors/

# secrets
.env