# Ignorar tipos de archivo 
*.log
*.pyc
*.idea
*.ini
*.png
*.jpg
*.jpeg
*.xml
*.iml
*.cursorignore
*.aiignore
*.pyd
*.so
*.dll
*.ilk
*.pdb
*.lib
*.exp
*.tlog
*.prof
*.npy
*.npz
*.a
*ini

# Ignorar archivos especificos
perfectocr.txt
verificacion_init.txt
tmp_file.txt
tree.txt

# Ignorar carpetas
__pycache__/
.pytest_cache/
.cache/
.pyc/
.vscode/
.idea/
.cursor/
.github/
.github/chatmodes/
.aiassistant/
.vs/
.junie/
build/
opencv_dep/build/
third_party/opencv_dep/src/
install/
libs/
out/
documentation/
models/
input/
input2/
input3/
output/
migrations/
CMakeFiles/
utils/compiled_utils/compiled_funcs.c
components/compiled/image.cpp
cmake-*/


# secrets
.env
