# Ignorar carpetas
__pycache__/
.pytest_cache/
.cache/
.pyc/
.png/
.txt/
.log/
.ini/
.vscode/
.idea/
.cursor/
.github/
.github/chatmodes/
.typings/
.idea/

# Ignorar carpeta
.github/
documentation/
test/
tools/
C:/PerfectOCR/data/models/
input/
input2/
output/
# input3/

# Excepción
!especificaciones_inspiron.txt
!especificaciones_latitude.txt

# Ignorar cualquier archivo .ini
*.ini
*.txt
*.png
*.jpg
*.jpeg

# Ignorar perfectocr.txt
*.cursorignore
*cursorignore/
cursorignore
*perfectocr.txt
perfectocr.txt/

# secrets
.env